@import "../utils/fonts";
html{
    scroll-behavior: smooth;
    user-select: none;

    body{
        font-family: sans-serif;
        font-family: $font-noto-sans-georgian;
        font-variant: tabular-nums;
        display: flex;
        flex-direction: column;
        height: 100vh;

        main{
            flex: 1;
        }
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
}