@import "../utils/variables";
.main-page{
    background-color: $main-page-color;
    color: white;
    padding: 180px 110px;
    .hero-section{
        display: flex;
        justify-content: space-between;
        

        .main-text-container{
            width: 718px;
            height: auto;
            padding: 40px;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            gap: 34px;
            z-index: 2;
            background-color: $text-container-color;

            h2{
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 17px;
            }
            p{
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.5;
                line-height: 1.5;

                span{
                    display: block;
                }
            }
        }

        .camp-img{
            margin-block-start: auto;
            width: 481px;
            height: 359px;
            z-index: 0;
        }

        .img-container{
            width: 494px;
            height: 494px;
            border-radius: 50%;
            background-color: $img-container-color;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .chat-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 40px;
        position: relative;

        .start-chat-btn{
            width: 263px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background-color: white;
            color: black;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;

            transition: .5s;
            overflow: hidden;
        }

        .start-chat-btn:hover{
            background-color: rgb(36, 227, 36);
            color: black;
            box-shadow: 0 0 50px rgb(36, 227, 36);
            -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        }

        .chatbox-container{
            #chatbotIframe{
                width: 370px;
	            height: 480px;
                position: absolute;
                bottom: -25px;
                right: 72px;
                display: none;
            }
        }

        .message-btn{
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            transition: .8s ease;
            overflow: hidden;
        }

        .message-btn:hover{
            background-color: rgb(36, 227, 36);
            color: black;
            box-shadow: 0 0 50px rgb(36, 227, 36);
            -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        }

        .red:hover{
            background-color: rgb(231, 25, 25);
            color: black;
            box-shadow: 0 0 50px rgb(231, 25, 25);
            -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        }
    } 

    .about-section{
        width: 100%;
        height: auto;
        margin: 92px 0 154px;
        padding: 40px;
        background-color: $text-container-color;
        border-radius: 30px;
        
        h2{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 17px;
        }
        p{
            max-width: 1368px;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0.5;
            line-height: 1.5;

            span{
                display: block;
            }
        }
    }
}