@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Georgian:wdth,wght@62.5..100,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Georgian:wdth,wght@62.5..100,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Georgian:wdth,wght@62.5..100,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Georgian:wdth,wght@62.5..100,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
html body {
  font-family: sans-serif;
  font-family: "Noto Sans Georgian", sans-serif;
  font-variant: tabular-nums;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
html body main {
  flex: 1;
}
html body main section {
  max-width: 1920px;
  margin: 0 auto;
}
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100px;
  background-color: rgb(13, 32, 25);
  padding: 20px 110px;
}
.header .header-components {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
}
.header .header-components .header-logos {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header .header-components .header-logos a {
  position: relative;
}
.header .header-components .navigation .mobile {
  display: none;
}
.header .header-components .navigation a {
  position: relative;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 1440px) {
  .header {
    height: 95;
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 20px 90px;
  }
}
@media (max-width: 1024px) {
  .header {
    padding: 20px 70px;
  }
}
@media (max-width: 900px) {
  .header {
    padding: 15px 65px;
  }
}
@media (max-width: 768px) {
  .header {
    height: 90px;
    padding: 15px 60px;
  }
}
@media (max-width: 600px) {
  .header {
    height: 80px;
    padding: 12px 30px;
  }
  .header .navigation .mobile {
    display: block !important;
  }
  .header .navigation .desktop {
    display: none;
  }
}
@media (max-width: 480px) {
  .header {
    height: 80px;
    padding: 16px 24px;
  }
  .header .header-components .header-logos {
    gap: 16px;
  }
  .header .header-components .header-logos img {
    width: 49px;
  }
  .header .header-components .header-logos .unilab-logo {
    width: 36px !important;
  }
  .header .header-components .navigation .mobile {
    display: block;
  }
  .header .header-components .navigation .desktop {
    display: none;
  }
}
.footer {
  padding: 48px 110px;
  width: 100%;
  height: 194px;
  background-color: rgb(13, 32, 25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .container {
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
}
.footer .container #footer-unilab-logo {
  width: 61.41px;
  height: 80px;
}
.footer section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: white;
}
.footer section h2 {
  font-size: 20px;
  font-weight: 500;
}
.footer section ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}
.footer section ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer section ul li img {
  width: 24px;
  height: 24px;
}
.footer section ul li a {
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.5s ease;
}

@media (max-width: 1200px) {
  .footer {
    padding: 48px 90px;
  }
}
@media (max-width: 1024px) {
  .footer {
    padding: 48px 70px;
  }
}
@media (max-width: 900px) {
  .footer {
    padding: 45px 65px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 45px 60px;
  }
}
@media (max-width: 600px) {
  .footer {
    padding: 12px 30px;
  }
}
@media (max-width: 480px) {
  .footer {
    padding: 24px;
    height: 212px;
  }
  .footer .container {
    width: 100%;
    display: grid;
    gap: 16px;
  }
  .footer .container #footer-unilab-logo {
    width: 46px;
    height: 60px;
  }
  .footer section {
    gap: 10px;
  }
  .footer section h2 {
    font-size: 18px;
  }
  .footer section ul {
    gap: 10px;
  }
}
.main-page {
  background-color: #122d24;
  color: white;
  padding: 180px 110px;
}
.main-page .hero-section {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.main-page .hero-section .main-text-container {
  width: 718px;
  height: auto;
  padding: 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1);
}
.main-page .hero-section .main-text-container h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 17px;
}
.main-page .hero-section .main-text-container p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5;
  line-height: 1.5;
}
.main-page .hero-section .main-text-container p span {
  display: block;
}
.main-page .hero-section .camp-img {
  position: absolute;
  bottom: 0;
  width: 481px;
  height: 359px;
  left: 65%;
  transform: translateX(-60%);
  z-index: 0;
}
.main-page .hero-section .img-container {
  width: 494px;
  height: 494px;
  border-radius: 50%;
  background-color: #0D2019;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.main-page .chat-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  position: relative;
}
.main-page .chat-section .start-chat-btn {
  width: 263px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.main-page .chat-section .chatbox-container #chatbotIframe {
  width: 370px;
  height: 480px;
  position: absolute;
  bottom: -25px;
  right: 72px;
  display: none;
  z-index: 10;
}
.main-page .chat-section .message-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.main-page .about-section {
  width: 100%;
  height: auto;
  margin: 92px auto 0;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  scroll-margin-top: 120px;
}
.main-page .about-section h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 17px;
}
.main-page .about-section p {
  max-width: 1368px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5;
  line-height: 1.5;
}
.main-page .about-section p span {
  display: block;
}

@media (max-width: 1440px) {
  .hero-section .main-text-container {
    width: 610px !important;
  }
  .hero-section .camp-img {
    width: 481px;
    height: 359px;
    z-index: 0;
  }
  .img-container {
    z-index: 2;
    width: 370px !important;
    height: 370px !important;
  }
  .img-container img {
    width: 180px;
  }
}
@media (max-width: 1200px) {
  .main-page {
    padding: 150px 90px;
  }
  .main-page .hero-section .main-text-container {
    width: 545px !important;
  }
  .main-page .hero-section .camp-img {
    width: 300px;
    height: 259px;
  }
  .main-page .img-container {
    z-index: 2;
    width: 300px !important;
    height: 300px !important;
  }
  .main-page .img-container img {
    width: 170px;
  }
}
@media (max-width: 1024px) {
  .main-page {
    padding: 140px 70px;
  }
  .main-page .hero-section .main-text-container {
    width: 480px !important;
  }
  .main-page .hero-section .camp-img {
    width: 250px;
    height: 219px;
  }
  .main-page .img-container {
    z-index: 2;
    width: 280px !important;
    height: 280px !important;
  }
  .main-page .img-container img {
    width: 150px;
  }
}
@media (max-width: 900px) {
  .main-page {
    padding: 130px 65px;
  }
  .main-page .hero-section .main-text-container {
    width: 420px !important;
  }
  .main-page .hero-section .camp-img {
    width: 200px;
    height: 190px;
  }
  .main-page .img-container {
    width: 280px !important;
    height: 280px !important;
  }
  .main-page .img-container img {
    width: 140px;
  }
}
@media (max-width: 850px) {
  .main-page {
    padding: 120px 45px;
  }
  .main-page .hero-section .main-text-container {
    width: 100% !important;
    padding: 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .main-page .hero-section .main-text-container .introduction {
    max-width: 149px;
    margin-bottom: 16px;
  }
  .main-page .hero-section .camp-img {
    top: 30%;
    width: 100px;
    height: 78px;
  }
  .main-page .hero-section .img-container {
    position: absolute;
    width: 220px !important;
    height: 220px !important;
    top: 16px;
    right: 16px;
  }
  .main-page .hero-section .img-container img {
    width: 100.48px;
  }
  .main-page .chat-section .start-chat-btn {
    width: 100%;
  }
  .main-page .chat-section .chatbox-container #chatbotIframe {
    position: fixed;
    bottom: 15%;
    right: 0;
    display: none;
    z-index: 10;
  }
  .main-page .chat-section .message-btn {
    position: fixed;
    top: 85%;
    right: 5%;
    z-index: 1000;
  }
  .main-page .about-section {
    margin: 40px 0 0px;
    padding: 16px;
    border-radius: 20px;
  }
  .main-page .about-section .chatbot-description {
    max-width: 600px;
  }
}
@media (max-width: 768px) {
  .main-page {
    padding: 120px 40px;
  }
  .main-page .hero-section .main-text-container {
    width: 100% !important;
    padding: 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .main-page .hero-section .main-text-container .introduction {
    max-width: 149px;
    margin-bottom: 16px;
  }
  .main-page .hero-section .camp-img {
    display: none;
  }
  .main-page .hero-section .img-container {
    position: absolute;
    width: 180px !important;
    height: 180px !important;
    top: 16px;
    right: 16px;
  }
  .main-page .hero-section .img-container img {
    width: 76.48px;
  }
  .main-page .chat-section .start-chat-btn {
    width: 100%;
  }
  .main-page .chat-section .chatbox-container #chatbotIframe {
    position: fixed;
    bottom: 15%;
    right: 0;
    display: none;
    z-index: 10;
  }
  .main-page .chat-section .message-btn {
    position: fixed;
    top: 85%;
    right: 5%;
    z-index: 1000;
  }
  .main-page .about-section {
    margin: 40px 0 0px;
    padding: 16px;
    border-radius: 20px;
  }
  .main-page .about-section .chatbot-description {
    max-width: 400px;
  }
}
@media (max-width: 600px) {
  .main-page {
    padding: 110px 30px;
  }
  .main-page .hero-section .main-text-container {
    width: 100%;
    padding: 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .main-page .hero-section .main-text-container .introduction {
    max-width: 149px;
    margin-bottom: 16px;
  }
  .main-page .hero-section .camp-img {
    display: none;
  }
  .main-page .hero-section .img-container {
    position: absolute;
    width: 163px !important;
    height: 163px !important;
    top: 16px;
    right: 16px;
  }
  .main-page .hero-section .img-container img {
    width: 76.48px;
  }
  .main-page .chat-section .start-chat-btn {
    width: 100%;
  }
  .main-page .chat-section .chatbox-container #chatbotIframe {
    position: fixed;
    bottom: 15%;
    right: 0;
    display: none;
    z-index: 10;
  }
  .main-page .chat-section .message-btn {
    position: fixed;
    top: 85%;
    right: 5%;
    z-index: 1000;
  }
  .main-page .about-section {
    margin: 40px 0 0px;
    padding: 16px;
    border-radius: 20px;
  }
  .main-page .about-section .chatbot-description {
    max-width: 400px;
  }
}
@media (max-width: 480px) {
  .main-page {
    padding: 107px 24px;
  }
  .main-page .hero-section .main-text-container {
    padding: 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .main-page .hero-section .main-text-container .introduction {
    max-width: 149px;
    margin-bottom: 16px;
  }
  .main-page .hero-section .camp-img {
    display: none;
  }
  .main-page .hero-section .img-container {
    position: absolute;
    width: 163px !important;
    height: 163px !important;
    top: 16px;
    right: 16px;
  }
  .main-page .hero-section .img-container img {
    width: 76.48px;
  }
  .main-page .chat-section .start-chat-btn {
    width: 100%;
  }
  .main-page .chat-section .chatbox-container #chatbotIframe {
    position: fixed;
    bottom: 15%;
    right: 0;
    display: none;
    z-index: 10;
  }
  .main-page .chat-section .message-btn {
    position: fixed;
    top: 85%;
    right: 5%;
    z-index: 1000;
  }
  .main-page .about-section {
    margin: 40px 0 0px;
    padding: 16px;
    border-radius: 20px;
  }
  .main-page .about-section .chatbot-description {
    max-width: 333px;
  }
}/*# sourceMappingURL=global.css.map */