@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Georgian:wght@100..900&display=swap");

:root {
  --dark-green: rgba(13, 32, 25, 1);
  --green: #122d24;
  --light-green: #122d2430;
  --transparent-green: rgba(255, 255, 255, 0.1);
  --white: #ffffff;
  --black: #000000;
}

/* general css */
.container {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
}

.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.landing-page {
  font-family: "Noto Sans Georgian";
}

/*header start*/
.main-header {
  background-color: var(--dark-green);
  padding: 20px 110px;
}

.header-components {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-components a {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
}

.header-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
/*header end*/

/* hero section start */
.main-page {
  flex: 1;
  background-color: var(--green);
  padding: 0 110px;
}
.main-page-wrapper {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;
  position: relative;
}
.main-text-container {
  max-width: 758px;
  width: 100%;
  height: auto;
  padding: 40px;
  border-radius: 30px;
  background-color: var(--transparent-green);
  display: flex;
  flex-direction: column;
  gap: 34px;
  z-index: 20;
}
.main-text-container h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 8px;
}
.main-text-container p {
  font-size: 16px;
  color: var(--white);
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5;
  line-height: 1.5;
}
.introduction span {
  display: block;
}
.about-chatbot span {
  display: block;
  max-width: 80ch;
}
.camp-img {
  position: absolute;
  top: 12%;
  right: 20%;
  z-index: 10;
}
.img-container {
  position: absolute;
  top: 80px;
  right: 0;
}
.elipse-img {
  position: relative;
  width: 494px;
  height: 494px;
}
.robot-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chat-functions {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.start-chat-btn {
  width: 263px;
  height: 64px;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.message-btn {
  height: 60px;
  width: 60px;
  background-color: var(--white);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.about-project {
  max-width: 1680px;
  margin: 80px 0 172px;
  height: auto;
  padding: 40px;
  border-radius: 30px;
  background-color: var(--transparent-green);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.about-project h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 8px;
}
.about-project p {
  max-width: 150ch;
  font-size: 16px;
  color: var(--white);
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5;
  line-height: 1.5;
}
.chatbot-description span {
  display: block;
}
/* hero section end */

/* footer start */
.main-footer {
  background-color: var(--dark-green);
  padding: 40px 110px;
}

.main-footer .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  color: var(--white);
  font-weight: 500;
  font-size: 20px;
}

.main-footer #footer-unilab-logo {
  width: 61.41px;
  height: 80px;
}

.footer-contacts-section {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.footer-contacts-section h2 {
  font-size: 20px;
  font-weight: 500;
}

.footer-contacts-section ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.footer-contacts-section li {
  display: flex;
  gap: 8px;
}

.footer-contacts-section li a:last-child {
  text-decoration: none;
  color: #ffffff;

  display: flex;
  align-items: center;
}

.icon-wrapper {
  height: 24px;
  width: 24px;

  display: grid;
  justify-content: center;
  align-items: center;
}

/* footer end */
