@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Georgian:wght@100..900&display=swap");

:root {
  --dark-green: rgba(13, 32, 25, 1);
}

/* general css */
.container {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
}

.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.landing-page {
  font-family: "Noto Sans Georgian";
}

/* ---------- */

.main-page-main {
  flex: 1;
}

.main-page-header {
  background-color: var(--dark-green);
  padding: 20px 110px;
}

.header-components {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-components a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

.header-logos > a:nth-child(2) > img {
  margin-left: 24px;
}

.main-page-footer {
  background-color: var(--dark-green);
  padding: 40px 110px;
}

.main-page-footer .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

.main-page-footer #footer-unilab-logo {
  width: 61px;
  height: 80px;
}

.footer-contacts-section h2 {
  font-size: 20px;
  font-weight: 500;

  margin-bottom: 16px;
}

.footer-contacts-section ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footer-contacts-section a {
  text-decoration: none;
  color: #fff;

  margin-left: 8px;
}
